name: Build

on:
  push:
    branches:
      - master
    tags:
      - '**'
jobs:
  build:
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    env:
      MB_EDITION: oss
      INTERACTIVE: false
    steps:
    - name: Checkout metabase
      uses: actions/checkout@master
      with:
        path: ./metabase
        name: metabase/metabase
        ref: refs/heads/release-x.37.x

    - name: Checkout driver
      uses: actions/checkout@v2
      with:
        path: ./driver

    - name: Prepare Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - name: Prepare JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 8
    
    - name: Install gettext
      run: sudo apt install gettext
    
    - name: Install Clojure CLI
      run: |
        curl -O https://download.clojure.org/install/linux-install-1.10.1.708.sh &&
        sudo bash ./linux-install-1.10.1.708.sh
    
    - name: Check versions
      run: |
        echo "Node.js `node --version`"
        echo "yarn `yarn --version`"
        java -version
        echo "Clojure `clojure -e "(println (clojure-version))"`"
        lein --version
        msgfmt --version

    - name: Install Prerequisites
      run: |
        cd metabase
        yarn install --lockfile
        lein install-for-building-drivers

    - run: |
        cd driver
        lein clean
        DEBUG=1 LEIN_SNAPSHOTS_IN_RELEASE=true lein uberjar

    - name: Upload JAR as artifact
      uses: actions/upload-artifact@v2
      with:
        name: http.metabase-driver
        path: ./driver/target/uberjar/http.metabase-driver.jar
